@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";


.acciones {
    margin-top: v.$separacion;

    @include m.tablet {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    a {
        color: v.$blanco;
        display: block;

        text-align: center;
    }

}