@use "../base/variables" as v;
@use "sass:color";


.alerta {
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;

    &.error {
        background-color: v.$azul;
    }

    &.exito {
        background-color: v.$verde;
    }
}