@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";

.formulario {
  margin-top: 50px;
  width: 100%;
}

.campo {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  label {
    flex: 0 0 100px;
  }

  input {
    flex: 1;
    border: none;
    padding: calc(v.$separacion / 4);
    border-radius: 10px;

    &:disabled {
      background-color: color.adjust(v.$negro, $lightness: 30%);
      color: v.$blanco;
      cursor: not-allowed;
    }
  }
}