@use "variables" as v;
@use "sass:color";


h1,
h2,
h3 {
    font-family: v.$fuente_principal;
    margin: 0 0 calc(v.$separacion / 2) 0;
    font-weight: 900;
    color: v.$blanco;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    color: v.$blanco;
    font-size: 25px;
}

.nombre-pagina {
    text-align: center;
    margin: 50px 0;
    font-weight: v.$bold;
}

.descripcion-pagina {
    text-align: center;
}