$fuente_principal: "Poppins", sans-serif;


$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


$azul: #0da6f3;
$verde: #329f00;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 50px;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900