@use "../base/variables" as v;

.contenido-resumen {
    p {
        margin-bottom: 10px;
    }

    span {
        color: v.$azul;
        font-weight: v.$bold;
        font-size: 24px;
    }
}

.contenedor-servicio {
    padding: 30px 0;
    border-bottom: 1px solid v.$gris;

    &:last-of-type {
        margin-bottom: v.$separacion;
    }
}