@use "../base/variables" as v;
@use "../base/mixins" as m;

.listado-servicios {
    display: grid;
    gap: 20px;

    @include m.tablet {
        @include m.grid(2, 20px);
    }

    .servicio {
        background-color: v.$blanco;
        padding: 30px;
        border-radius: 10px;
        transition-property: transform;
        transition-duration: 300ms;
        text-align: center;

        &.seleccionado {
            background-color: v.$azul;

            p {
                color: v.$blanco;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        p {
            color: v.$negro;
            margin: 0 0 calc(v.$separacion / 4) 0;
        }

        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 30px;
            margin: 0;
        }
    }
}