@use "../base/variables" as v;
@use "../base/mixins" as m;
@use "sass:color";


.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .imagen {
        height: 350px;
        background-image: url(../img/salon.jpg);
        background-size: cover;
        background-position: center center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;




        .footer {
            text-align: center;
            padding: 1rem;
            margin: auto;
            font-size: 1.4rem;
        }

    }
}

.barra {
    margin: v.$separacion 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 10px 0;
    }
}

.imagen {
    height: 400px;
}

.footer {

    align-self: flex-end;
    padding: 1rem 2rem;
    margin-left: 0px;

}